---
http_interactions:
- request:
    method: get
    uri: https://api.edamam.com/api/recipes/v2?app_id=ED_APP_ID&app_key=ED_APP_KEY&q=%D8%AF%D9%88%D9%84%D8%A9%20%D8%A7%D9%84%D9%83%D9%88%D9%8A%D8%AA&type=public
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"from":1,"to":0,"count":0,"_links":{},"hits":[]}'
  recorded_at: Sun, 13 Nov 2022 17:25:07 GMT
recorded_with: VCR 6.1.0
