---
http_interactions:
- request:
    method: get
    uri: https://restcountries.com/v3.1/name/%D8%AF%D9%88%D9%84%D8%A9+%D8%A7%D9%84%D9%83%D9%88%D9%8A%D8%AA
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"message":"Page Not Found","_links":{"self":{"href":"/v3.1/name/%D8%AF%D9%88%D9%84%D8%A9+%D8%A7%D9%84%D9%83%D9%88%D9%8A%D8%AA","templated":false}}}'
  recorded_at: Mon, 14 Nov 2022 23:19:11 GMT
recorded_with: VCR 6.1.0
