---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?channelId=UCluQ5yInbeAkkeCndNnUhpw&key=GOOGLE_API_KEY&maxResults=1&part=snippet&q=Angola
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "kind": "youtube#searchListResponse",
          "etag": "JMNEJWFGdk0Q3cxcGaGwyMccHxw",
          "nextPageToken": "CAEQAA",
          "regionCode": "US",
          "pageInfo": {
            "totalResults": 21,
            "resultsPerPage": 1
          },
          "items": [
            {
              "kind": "youtube#searchResult",
              "etag": "17bi6wm3fgPkWqJnktrEDd3IqMQ",
              "id": {
                "kind": "youtube#video",
                "videoId": "AGR3yBRCzOU"
              },
              "snippet": {
                "publishedAt": "2019-04-19T21:26:39Z",
                "channelId": "UCluQ5yInbeAkkeCndNnUhpw",
                "title": "A Super Quick History of Angola",
                "description": "Sources: A Short History of Modern Angola (2015) by David Birmingham. Oxford University Press, NY. Angola (2013) by Rob ...",
                "thumbnails": {
                  "default": {
                    "url": "https://i.ytimg.com/vi/AGR3yBRCzOU/default.jpg",
                    "width": 120,
                    "height": 90
                  },
                  "medium": {
                    "url": "https://i.ytimg.com/vi/AGR3yBRCzOU/mqdefault.jpg",
                    "width": 320,
                    "height": 180
                  },
                  "high": {
                    "url": "https://i.ytimg.com/vi/AGR3yBRCzOU/hqdefault.jpg",
                    "width": 480,
                    "height": 360
                  }
                },
                "channelTitle": "Mr History",
                "liveBroadcastContent": "none",
                "publishTime": "2019-04-19T21:26:39Z"
              }
            }
          ]
        }
  recorded_at: Sun, 13 Nov 2022 02:29:01 GMT
recorded_with: VCR 6.1.0
