---
http_interactions:
- request:
    method: get
    uri: https://api.edamam.com/api/recipes/v2?app_id=23ff30b2&app_key=07302494da1b5e032af1d72c06314857&q=%7B%22country%22=%3E%22notarealcountryatall%22%7D&type=public
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"from":1,"to":0,"count":0,"_links":{},"hits":[]}'
  recorded_at: Sat, 12 Nov 2022 19:55:06 GMT
- request:
    method: get
    uri: https://api.edamam.com/api/recipes/v2?app_id=23ff30b2&app_key=07302494da1b5e032af1d72c06314857&q=%7B%22country%22=%3E%22notarealcountryatall%22%7D&type=public
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"from":1,"to":0,"count":0,"_links":{},"hits":[]}'
  recorded_at: Sat, 12 Nov 2022 19:55:11 GMT
recorded_with: VCR 6.1.0
